<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>Index - jQuery.pwdMeasure.js</title>
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="container">
		<h1>jQuery.pwdMeasure.js</h1>

		<div class="section">
			<form action="" method="get" id="pm-form1">
				<h2>Basic</h2>
				<p>
					最も基本的な使い方です。単一の入力フィールドに対して、強度判定を行ないます。
				</p>
				<div class="form-group">
					<label for="pwd1">パスワード</label>
					<div class="form-field">
						<input type="password" id="pwd1" name="" value="" placeholder="Your password">
					</div>
				</div>
				<div id="pm-indicator" class="pwd-indicator"></div>
			</form>
		</div>
		
		<div class="section">
			<form action="" method="get" id="pm-form2">
				<h2>Confirm</h2>
				<p><code>confirm</code>オプションで確認用のフィールドを指定した例です。確認用のフィールドがある場合は、値が一致しているかのチェックも行ないます。</p>
				<div class="form-group">
					<label for="pwd2">パスワード</label>
					<div class="form-field">
						<input type="password" id="pwd2" name="" value="" placeholder="Your password">
					</div>
				</div>
				<div class="form-group">
					<label for="pwd2">パスワード確認</label>
					<div class="form-field">
						<input type="password" id="pwd-confirm2" name="" value="" placeholder="Your password">
					</div>
				</div>
				<div id="pm-indicator2" class="pwd-indicator"></div>
			</form>
		</div>
		
		<div class="section">
			<form action="" method="get" id="pm-form3">
				<h2>Change Labels</h2>
				<p>表示ラベルを変更する例です。</p>
				<div class="form-group">
					<label for="pwd3">パスワード</label>
					<div class="form-field">
						<input type="password" id="pwd3" name="" value="" placeholder="Your password">
					</div>
				</div>
				<div id="pm-indicator3" class="pwd-indicator"></div>
			</form>
		</div>
		
		<div class="section">
			<form action="" method="get" id="pm-form4">
				<h2>Change Events</h2>
				<p>強度判定を行うタイミングを決める為のイベントを変更することが出来ます。下記では<code>change</code>のみに絞っています。</p>
				<div class="form-group">
					<label for="pwd4">パスワード</label>
					<div class="form-field">
						<input type="password" id="pwd4" name="" value="" placeholder="Your password">
					</div>
				</div>
				<div id="pm-indicator4" class="pwd-indicator"></div>
			</form>
		</div>
		
		<div class="section">
			<form action="" method="get" id="pm-form5">
				<h2>Customize</h2>
				<p>
					コールバックを使用して、パスワードが一定の強度より低い場合はフォームの送信を止める例です。<br />
					下記では強度を示すパーセントが50以下の場合送信をキャンセルします。</p>
				<div class="form-group">
					<label for="pwd5">パスワード</label>
					<div class="form-field">
						<input type="password" id="pwd5" name="" value="" placeholder="Your password">
					</div>
				</div>
				<div class="form-group">
					<label for="pwd-confirm5">パスワード</label>
					<div class="form-field">
						<input type="password" id="pwd-confirm5" name="" value="" placeholder="Your password">
					</div>
				</div>
				<div class="form-group">
					<div class="form-field">
						<button type="submit">送信する</button>
					</div>
				</div>
				<div id="pm-indicator5" class="pwd-indicator"></div>
			</form>
		</div>

	</div>

	<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="../src/jquery.pwdMeasure.js"></script>
	<script type="text/javascript">
	$(function(){
		
		$("#pwd1").pwdMeasure();

		$("#pwd2").pwdMeasure({
			indicator: "#pm-indicator2",
			confirm: "#pwd-confirm2"
		});

		$("#pwd3").pwdMeasure({
			indicator: "#pm-indicator3",
			indicatorTemplate: "<%= label %>",
			labels: [
				{score:10, label:"Level 1", class:"very-weak"},
				{score:30, label:"Level 2", class:"weak"},
				{score:50, label:"Level 3", class:"average"},
				{score:70, label:"Level 4", class:"strong"},
				{score:100, label:"Level 5", class:"very-strong"}
			]
		});

		$("#pwd4").pwdMeasure({
			indicator: "#pm-indicator4",
			events: "change"
		});

		(function(){
			var $form = $("#pm-form5"),
					$indicator = $("#pm-indicator5");

			// submitイベントをキャンセル
			function formCancelSubmit(){
				$form.off("submit").on("submit", function(e){
					alert("パスワードの強度が基準値に達していません！");
					e.preventDefault();
				});
			}
			formCancelSubmit();

			// コールバックを使用する
			$("#pwd5").pwdMeasure({
				minScore: 50,
				confirm: "#pwd-confirm5",
				indicator: $indicator,
				indicatorTemplate: "現在の強度: <%= percentage %>%",
				onValid: function(percentage, label, className){
					$form.off("submit");
				},
				onInvalid: function(percentage, label, className){
					formCancelSubmit();
				}
			});
		}());

	});
	</script>
</body>
</html>